<% if @parsed_season_episodes.any?%>
  <div class="box">
    <div class="table-container">
        <table class="table is-fullwidth">
            <tr>
            <th class="title is-3">Título Episodio</th>
            </tr>
        </thead>
        <tbody>
            <% @parsed_season_episodes.each do |episode| %>
            <tr><td><%= link_to "#{episode["title"]}", "/episode?episode_id=#{episode["episode_id"]}", class: 'subtitle is-5'%></td></tr>
            <% end %>
        </tbody>
        </table>
    </div>
  </div>
<% else %>
  <div class="box">
    <h3 class="title is-3">Temporada no válida, por favor trate de nuevo</h3>
  </div>
<%end%>
